if theme.comment.duoshuo.enable && !page.comment_disable
    div(class="ds-thread",data-title=page.title,data-url=page.permalink,class="comments",id="#ds-thread")


    script.
        var url_parts = window.location.href.split("?");
        var duoshuoQuery = {short_name:"#{theme.comment.duoshuo.id}"};
        (function () {
            console.log("enter duoshuo");
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            (document.head || d.body ).appendChild(ds);
        })();



