<article id="TagCloud" class="article article-type-post" itemscope="" itemprop="blogPost">

  <div class="article-inner">
    
      <input type="hidden" class="isFancy">
    
    
      <header class="article-header">
        
  
    <h1 class="article-title" itemprop="name">
      TagCloud
    </h1>
  

      </header>

      <div class="article-info article-info-post">

    <div class="article-entry tagcloud" itemprop="articleBody">
      <%- tagcloud() %>

    </div>
    
  </div>


<nav id="article-nav">

</nav>


</article>