---
layout: default
---
<article class="main-article main-article-page">
    <div class="violet-page">
		{{ content }}
    </div>
</article>
<nav class="pagination fn-clear" id="violet-paging">
    <div class="pagination-list">
        {% if page.previous %}
        <a class="prev" href="{{ page.previous.url }}" rel="bookmark"><i class="fa fa-chevron-circle-left"></i>{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}<i class="fa fa-chevron-circle-right"></i></a>
        {% endif %}
    </div>
</nav>

